
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "bootstrap/bootstrap";

//Boostrap vue
@import "bootstrap/bootstrap-vue.css";


//CoreUI
@import "core/core";

#particles{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-5;
}
#public{
  z-index:3;
}
html body{
  background-color: rgba(255,0,0,0) !important;
}